@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  font-family: "poppins", sans-serif;
  background: #fafafa;
}

a {
  color: black;
  text-decoration: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
