.img-title {
  width: 100%;
  height: 25rem;
  object-fit: contain;
}

.title {
  text-align: center;
}

.ingredient-list {
  column-count: 2;
  column-gap: 1rem;
  padding-left: 1rem;
}

@media (max-width: 512px) {
  .ingredient-list {
    column-count: 1;
    column-gap: 1rem;
    padding-left: 1rem;
  }
}

.text-recipe {
  text-align: justify;
}
