.categories-list {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.recipes-list {
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  align-items: stretch;
}

.no-recipies {
  margin-top: 2rem;
  width: 100%;
}
