.bg-content {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23f6b13f' fill-opacity='1' d='M0,192L80,208C160,224,320,256,480,240C640,224,800,160,960,160C1120,160,1280,224,1360,256L1440,288L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.p-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
